@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#container{
    width: 100vw; /* 부모 요소의 너비 설정 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
}

#content {
    height: 95vh;
    width: 100%;
    overflow: hidden; /* 팝업이 보이도록 설정 */
    overflow-x: auto;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap; /* 줄 바꿈 허용 */
    z-index: 1;
    gap: 0; /* yearBox들 간의 간격을 0으로 설정 */
    position: relative; /* 자식 요소의 z-index에 영향을 주기 위해 상대 위치 설정 */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-sizing: border-box; /* 패딩을 포함한 전체 너비 계산 */
    white-space: nowrap; /* 자식 요소들이 한 줄로 표시되도록 설정 */
    transition: width 0.5s ease;
    margin: 0;
}

#content.grab {
    cursor: grab; /* 드래그 가능 표시 */
}

#content.grabbing {
    cursor: grabbing; /* 드래그 중인 경우 표시 */
}


/* 확대 모드에서 스크롤 바 숨기기 */
.zoomed {
    overflow-x: auto; /* 가로 스크롤은 가능하지만 */
}

/* 스크롤 바 숨기기 */
.zoomed::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤 바 숨김 */
}

.zoomed {
    -ms-overflow-style: none; /* IE 및 Edge에서 스크롤 바 숨김 */
    scrollbar-width: none; /* Firefox에서 스크롤 바 숨김 */
}



.navyBtn {
    background-color: white;
    border: none;
}


.yearDataBox {
    display: flex; /* Flexbox로 설정 */
    flex-direction: column; /* 세로 방향으로 배치 */
    padding: 0; /* 패딩 0 */
    margin: 0; /* 마진 0 */
    position: relative;
    z-index: 2;
    transition: width 0.5s ease;
    box-sizing: border-box;
}

.dataBox {
    background-color: #ffffff;
    border: 0.5px solid rgba(123, 123, 123, 0.1);
    box-sizing: border-box;
    position: relative; /* 팝업 위치 기준 */
    z-index: 1; /* dataBox의 z-index를 1로 설정 */
    transition: width 0.5s ease;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.dataBoxText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙에 위치시키기 */
    font-size: 12px;
    color: #ffffff; /* 텍스트 색상 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.popup {
    position: absolute; /* 절대 위치 */
    background-color: rgb(255, 255, 255); /* 반투명 배경 */
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    width: 250px;
    color: rgb(0, 0, 0); /* 텍스트 색상 */
    padding: 20px; /* 패딩 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    font-size: 14px;
    line-height: 150%;
    max-height: 80vh;
}


.popup img{
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 120px;
    object-fit: cover;
}


.popup p {
    margin: 0;
}


.popupTitle {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.popupDate {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.popupContent {
    font-size: 14px;
    color: black;
}



/*
#time{
    z-index: -1;
    height: 6vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
}

#timeText{
    height: 2vh;
}

#timeLine {
    height: 4vh;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}


.timeLineText {
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    color: #000000;
}

.timeLineBox {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}
*/


#menu {
    height: 5vh;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    border: 0.5px solid rgba(123, 123, 123, 0.1);
}

#menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#menu img{
    width: 24px;
    cursor: pointer;
}


.yan {
    font-size: 8px; /* 텍스트 크기 */
    font-weight: bold;
    color: #717171; /* 텍스트 색상 */
    text-align: center; /* 중앙 정렬 */
    font-weight: bold; /* 글씨 두껍게 */
    align-content: center;
    transition: 0.5s ease;
}

.transition {
    transition: width 0.5s ease, height 0.5s ease;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre {
    word-break: keep-all;
}


.contentBox{
    height: 120px;
    transition: height 0.5s ease;
    background-color : white;
    border: 0.5px solid rgba(123, 123, 123, 0.1);
    display: flex;
}

.contentTextBox{
    width : 100%;
    padding : 10px;
    display : flex;
    flex-direction : column;
    overflow : hidden;
    white-space : normal;
    gap: 10px;
}

.contentTextDate{
    font-size : 12px;  
    color : gray;  
}

.contentTextContent{
    font-size : 13px;  
    color : black;  
}

.contentImgBox{
display : flex;
justify-content : center;
align-items : center;
overflow : hidden;
padding-top: 10px;
padding-bottom: 10px;
margin-right: 10px;
}

.contentImgBox img{
    max-height: 100px;
    object-fit: cover;
}