body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#content {
    height: 95vh;
    overflow: visible; /* 팝업이 보이도록 설정 */
    display: flex; /* Flexbox로 변경 */
    flex-wrap: nowrap; /* 줄 바꿈 허용 */
    z-index: 1;
    gap: 0; /* yearBox들 간의 간격을 0으로 설정 */
    position: relative; /* 자식 요소의 z-index에 영향을 주기 위해 상대 위치 설정 */
}


.yearDataBox {
    display: flex; /* Flexbox로 설정 */
    flex-direction: column; /* 세로 방향으로 배치 */
    padding: 0; /* 패딩 0 */
    margin: 0; /* 마진 0 */
    position: relative;
    z-index: 2;
}

.dataBox {
    background-color: #ffffff;
    border: 1px solid rgba(62, 62, 62, 0.1);
    box-sizing: border-box;
    width: 80px; /* 원하는 너비 설정 */
    height: 80px; /* 너비와 동일한 높이 설정 */
    position: relative; /* 팝업 위치 기준 */
    z-index: 1; /* dataBox의 z-index를 1로 설정 */
    transition: width 0.3s ease, height 0.3s ease; /* 너비와 높이에 애니메이션 추가 */
}

.popup {
    position: absolute; /* 절대 위치 */
    background-color: rgb(255, 255, 255); /* 반투명 배경 */
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0); /* 텍스트 색상 */
    padding: 15px; /* 패딩 */
    z-index: 1000; /* 다른 요소 위에 표시 */
    display: none; /* 기본적으로 숨김 */
    font-size: 14px;
    line-height: 150%;
}

.popup img{
    display: block;
    margin-top: 20px;
}

.popup p {
    margin: 0;
}




/*
#time{
    z-index: -1;
    height: 6vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
}

#timeText{
    height: 2vh;
}

#timeLine {
    height: 4vh;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}


.timeLineText {
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    color: #000000;
}

.timeLineBox {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}
*/


#menu {
    height: 5vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#menu img{
    width: 24px;
    cursor: pointer;
}

/* 확대 모드에서 스크롤 바 숨기기 */
.zoomed {
    overflow-x: auto; /* 가로 스크롤은 가능하지만 */
}

/* 스크롤 바 숨기기 */
.zoomed::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤 바 숨김 */
}

.zoomed {
    -ms-overflow-style: none; /* IE 및 Edge에서 스크롤 바 숨김 */
    scrollbar-width: none; /* Firefox에서 스크롤 바 숨김 */
}

